S3 vectors built on top of lists:
- data frames 
- tibbles (more advanced and robust)

Data frame: named list of vectors, belonging to the data.frame class.

In [ ]:
#Named dataframe
df1 <- data.frame(x = 1:3, y = letters[1:3]) #two elements, 'x' and 'y', with the SAME number of rows
df1

In [ ]:
df2 <- data.frame(x = 1:3, y = letters[1:2]) #error, y has 2 rows, while x has 3

In [ ]:
attributes(df1) #show row/column names

In [ ]:
#Unnamed dataframe
df2 <- data.frame(1:3, letters[1:3]) #a name is assigned automatically
df2

In [2]:
exam1 <- c(27, 28, 24, 24)
exam2 <- c(25, 30, 26, 24)

gender <- c("M", "F", "M", "M")

dc <- data.frame(exam1, exam2, gender) #create dataframe from vectors
head(dc, n=2) #prints header + first 2 rows

  exam1 exam2 gender
1 27    25    M
2 28    30    F

In [ ]:
str(dc) #note that the third column has been converted to factors
#so we lose the character identity of the values: they are converted to numbers

In [ ]:
#We can avoid this by specifying
dc <- data.frame(exam1, exam2, gender, stringsAsFactors=FALSE)
str(dc) #preserves characters

In [ ]:
d1 <- data.frame(x = c(1, 2, 3), 
                 y = c(5, 7, 9))
d1

In [ ]:
#Copy on modify happens also for dataframes (as they are list).
library(lobstr)

In [ ]:
lobstr::ref(d1)

In [ ]:
d2 <- d1 #creates a reference to d1
lobstr::ref(d2) #same addresses as d1

In [ ]:
d2[, 2] <- d2[, 2] * 2 #modify the second column
lobstr::ref(d2) #now the address for the second column has changed (but the first one not!)

In [ ]:
#what if we modify a row?
d3 <- d1
lobstr::ref(d3) #same as before

d3[1, ] <- d3[1, ] * 3
lobstr::ref(d3) #both columns change!

So modifying single columns is quick, but modifying a row effectively re-creates the entire data.frame

In [ ]:
#Sometimes modify on copy does not apply. There are 2 main exceptions

#Single binding, i.e. object that is bound to a single reference
v <- c(1, 3, 2)
lobstr::ref(v)

v[[3]] <- 4 #modify a single element on a vector that is referred by a single variable
lobstr::ref(v) #the address does not change, modification happens in-place (why does it change!?)
#it does work in R terminal, but nothere on jupyter

## Accessing elements

In [ ]:
dc[,2] #second column

In [ ]:
dc[[2]] #second element is the second column (remember that the dataframe is a list of vectors)

In [ ]:
dc$gender #access by name

In [ ]:
dc$ge #or by abbreviations (works sometimes)

In [ ]:
dc[1,1] #acccess single element

In [ ]:
#We can label also rows
df1 <- data.frame( age = c(35, 25, 18),
                   hair = c("blond", "brown", NA),
                   row.names = c("Bob", "Tom", "Sam"))
df1

In [ ]:
names(df1)

In [ ]:
row.names(df1)

In [ ]:
#However row names are a BAD PRACTICE: use another column!

In [ ]:
dc[sample(1:4,2),] #sample 2 rows

In [ ]:
data <- data.frame(slope = c(11, NA, 3, 5),
                   pH = c(4.1, 5.2, 4.9, NA),
                   area = c(3.6, 5.1, 2.8, 3.7)) 
data

In [ ]:
na.omit(data)  #remove rows with NAs

In [ ]:
clean_data <- na.exclude(data)

In [ ]:
install.packages("tidyverse")

# Tibble

In [1]:
library(tidyverse)

Warning message:
"package 'tidyverse' was built under R version 3.6.3"-- Attaching packages --------------------------------------- tidyverse 1.3.0 --
v ggplot2 3.3.0     v purrr   0.3.3
v tibble  2.1.3     v dplyr   0.8.5
v tidyr   1.0.2     v stringr 1.4.0
v readr   1.3.1     v forcats 0.4.0
Warning message:
"package 'ggplot2' was built under R version 3.6.3"Warning message:
"package 'tibble' was built under R version 3.6.3"Warning message:
"package 'tidyr' was built under R version 3.6.3"Warning message:
"package 'purrr' was built under R version 3.6.3"Warning message:
"package 'dplyr' was built under R version 3.6.3"-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [3]:
dct <- tibble(dc) #convert data.frame to tibble

In [6]:
dct

ERROR while rich displaying an object: Error in vapply(part, format, character(nrow(part))): values must be length 4,
 but FUN(X[[1]]) result is length 3

Traceback:
1. FUN(X[[i]], ...)
2. tryCatch(withCallingHandlers({
 .     if (!mime %in% names(repr::mime2repr))
 .         stop("No repr_* for mimetype ", mime, " in repr::mime2repr")
 .     rpr <- repr::mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler), error = outer_handler)
3. tryCatchList(expr, classes, parentenv, handlers)
4. tryCatchOne(expr, names, parentenv, handlers[[1L]])
5. doTryCatch(return(expr), name, parentenv, handler)
6. withCallingHandlers({
 .     if (!mime %in% names(repr::mime2repr))
 .         stop("No repr_* for mimetype ", mime, " in repr::mime2repr")
 .     rpr <- repr::mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler)
7. repr::mime2repr[[mime]](obj)
8. repr_text.data.frame(obj)
9. ellip_limit_arr(obj, ...)
10. arr_parts_format(parts)
11. structure(lapply(parts, arr_part_format), omit = attr(parts,
  .     "omit"))
12. lapply(parts, arr_part_format)
13. FUN(X[[i]], ...)
14. vapply(part, format, character(nrow(part)))